body{
    font-family: 'Trebuchet MS', 'Tahoma', 'Verdana', Arial, sans-serif;
}

#sidebar{
    height: 100%; 
    width: 250px; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: navy;
    overflow-x: hidden;
    padding-top: 20px;
    justify-content: center; 
}

.sideHead{
    color: white;
    margin: 0 20px 0 20px;
}

#main{
    margin-left: 250px;
}

.nation {
    fill: #ddd;
}

.outline {
    stroke: #fff;
    stroke-width: 1px;
    fill: none;
}

svg{
    display: block;
    background: none;
    /* position:static; */
    margin: 0 auto 1em auto;
}

#choropleth{
    margin-bottom: 0;
}

#leagues {
    margin: 0 auto 2em auto;
    display: flex;
    flex-direction: row;
    width: 250px;
    flex-wrap: wrap;
    justify-content: center;
}

.league {
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

#toggle{
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
}

.toggleButton{
    width: 100px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
}

#countButton{
    background-color: lightgrey;
    font-weight: bold;
    border-radius: 10px 0 0 10px;
    margin: 10px 0 10px 10px;
}
#pctButton{
    border-radius: 0 10px 10px 0;
    border-left: none;
    margin: 10px 10px 10px 0px;
}


.hoverInfo rect{
    padding: 50px;
    box-shadow: 5px 10px black;
}

.hoverInfo text{
    color: blue;
}

.hoverMesh{
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.gridlines{
    color: lightgrey;
    opacity: 0.5;
}

#graphHeader{
    width: 100%;
    text-align: center;
}

