body{
    
}

.nation {
    fill: #ddd;
}

.outline {
    stroke: #fff;
    stroke-width: 1px;
    fill: none;
}

svg{
    display: block;
    background: none;
    /* position:static; */
    margin: 1em auto 2em auto;
}

.leagues {
    display: flex;
    flex-direction: row;
}

button {
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: white;
}